<div class="envelope">
  <div class="front">
    <p><%= @guest.name %></p>
  </div>
  <div class="back">
    <!-- Add details like the bride and groom names, date, etc. -->
    <p>Bride & Groom</p>
    <p>Date: <%= wedding_date %></p>
    <p>Time: <%= wedding_time %></p>
    <p>Location: <%= wedding_location %></p>
    <a href="<%= wedding_website_url %>">Go to Wedding Website</a>
  </div>
</div>
