<div class="envelope">
  <div class="front">
    <p><%= @guest.name %></p>
  </div>
  <div class="back">
    <p>Bride & Groom</p>
    <p>Date: <%= @wedding_date %></p>
    <p>Time: <%= @wedding_time %></p>
    <p>Location: <%= @wedding_location %></p>
    <a href="<%= root_path %>">Go to Wedding Website</a>

    <% if @guest.rsvp %>
      <!-- Guest has RSVPed: show thank you message and keep button disabled -->
      <p>Thank you for your RSVP! :)</p>
    <% else %>
      <!-- Guest has not RSVPed: show the RSVP button, keep it enabled -->
     <%= button_to 'RSVP', rsvp_guest_path(@guest.token), method: :patch %>
    <% end %>
  </div>
</div>
